<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

  <h2 class="title">Nuestros productos</h2>

  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <div class="product-img">
               <img src="../../../assets/imagenes/AirForceOne.jpg">
            </div>
            <h3>Air Force 1</h3>
            <p class="price">$120</p>
            <ion-button expand="block" size="small">Comprar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <div class="product-img"></div>
            <h3>Jordan Low</h3>
            <p class="price">$135</p>
            <ion-button expand="block" size="small">Comprar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <div class="product-img"></div>
            <h3>Adidas Forum</h3>
            <p class="price">$110</p>
            <ion-button expand="block" size="small">Comprar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <div class="product-img"></div>
            <h3>Nike Dunk</h3>
            <p class="price">$125</p>
            <ion-button expand="block" size="small">Comprar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <div class="product-img"></div>
            <h3>Puma RS-X</h3>
            <p class="price">$105</p>
            <ion-button expand="block" size="small">Comprar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <div class="product-img"></div>
            <h3>New Balance 550</h3>
            <p class="price">$130</p>
            <ion-button expand="block" size="small">Comprar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
