.title {
  margin: 1.5rem 0;
  font-size: 1.4rem;
  font-weight: 700;
}

ion-card {
  border-radius: 18px;
  text-align: center;
}

.product-img {
  height: 100px;
  border-radius: 14px;
  background: linear-gradient(135deg, #222, #333);
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

.price {
  margin: 0.4rem 0 0.8rem;
  font-weight: bold;
  font-size: 1.1rem;
}

ion-button {
  --border-radius: 20px;
  font-weight: 500;
}
